body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/646/original/pexels-felkerpixel-6220559.jpg?1744221155");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: #b2b2b6;
}
.container {
  margin: 100px auto;
  padding: 20px;
  padding-bottom: 300px;
  max-width: 600px;
  color: white;
  border-radius: 20px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: white;
}
.form-container {
  margin-bottom: 30px;
  padding: 15px 20px;

  border-radius: 10px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}
.instructions {
  padding: 16px;

  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.button {
  margin-left: 10px;
  background-color: #272044;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.activity {
  font-size: 18px;

  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #272044;
  box-shadow: 0px 4px 30px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

footer {
  text-align: centre;
  font-size: 13px;
  margin-top: 60px;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}
